<!DOCTYPE html>
<html>
<head>
    <title>Appointments</title>
</head>
<body>

<h2>Book Appointment</h2>

{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}

<form method="POST">

    {% if session['role'] == 'receptionist' %}
    <label>Patient:</label>
    <select name="patient_id" class="form-control" required>
    {% for patient in patients %}
        <option value="{{ patient[0] }}">{{ patient[1] }}</option>
    {% endfor %}
    </select>
    {% endif %} 

    <label>Doctor:</label>
    <select name="doctor_id" class="form-control" required>
    {% for doctor in doctors %}
        <option value="{{ doctor[0] }}">
            {{ doctor[1] }} - {{ doctor[2] }}
        </option>
    {% endfor %}
    </select><br><br>

    <label>Date:</label><br>
    <input type="date" name="date" required><br><br>

    <label>Time:</label><br>
    <input type="time" name="time" required><br><br>

    <button type="submit">Book</button><br><br>

    <a href="/reception/dashboard" class="btn btn-secondary">
        Back
    </a>

</form>

</body>
</html>